*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

body{

	width: 1280px;
	font-family: "Microsoft YaHei", "SimHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
}
.header{
	font-size: 0;
}

/*    search & info  */
.firstline{
	font-size: 0;
	margin: 8px 50px;
}
.search, .info {
	display: inline-block;
	width: 50%;
	font-size: 0;
	vertical-align: middle;
}
.logo, .searchArea{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 20%;
}
.logo > img{
	width: 100%;
}
.searchArea{
	font-size: 12px;
	width: 70%;
	position: relative;
	margin-left: 10%
}
.searchText, .searchIcon{
	vertical-align: middle;
}
.searchText{
	width: 60%;
	border-radius: 2px;
	border-left: solid #8ebefc 1px;
	border-top: solid #8ebefc 1px;
	border-bottom: solid #8ebefc 1px;
	padding: 5px 2px;
	position: relative;
	height: 17px;
	bottom: 8px;
}
#search{
	color: white;
	border: solid #8ebefc 1px;
	border-radius: 2px;
	height: 27px;
	background-color: #a4cbff;
	position: relative;
	right: 33px;
	top: 3px;
}


.info{
	position: relative;
}

.sites, .scancode{
	display: inline-block;
}
.sites{
	width: 80%;
}
.scancode{
	width: 20%;
}
.sites > li{
	width: 30%;
	font-size: 12px;
	display: inline-block;
	text-align: left;
	color: #4c4c4c;
	position: relative;
}
.dropdown > img{
	width: 10%;
}
.dropdown{
	position: relative;
	z-index: 999;
	display: inline-block;
	background: #fff;
	padding-bottom: 10px;
}

.servicelist{
	display: none;
	position: absolute;
	padding: 10px 15px 10px  15px;	
	background-color: white;
	width: 150%;
	list-style: none;
	border:1px solid #b8b8b8;
	z-index: 1;
	top: 26px;
}
#servicecall{
	position: absolute;
	right: 5px;
	top: 25px;
}
.servicelist > li{
	border-top: dashed 1px rgb(184,184,184);
	line-height: 30px;
	height: 30px;
}
.flag{
	width: 10%;
	height: 45%;
	vertical-align: middle;
	border: solid 1px rgb(184,184,184);
	margin-right: 5%;
}
#servicecall > *{
	text-align: right;
}
.dropdown:hover ~ .servicelist{
	display: block;
	
}

.dropdown:hover {
	border:1px solid #b8b8b8;
	border-bottom: none;
	position: relative;
	z-index: 100;
}
.scancode{
	position: relative;
}
#scancode{
	width: 15%;
	padding-right: 10%;	
}

/* nav    *********/

#firstline, #secondline{
	position: relative;
	padding: 0 50px;	
	height: 40px;
}
#firstline{
	background-color: #2577e3;
}
.navbar{
	width: 80%;
	position: relative;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	font-size: 16px;
	color: white;
	font-family: 'microsoft yahei', Arial, sans-serif;
}
.navbar >li{
	padding-right: 10px;
	display: inline-block;
	width: 6%;
	text-align: center;
}
.login{
	display: inline-block;
	padding-top: 3px;
	padding-left: 3px;
	float: right;
	display: inline-block;
	background-color: #ff9913;
	height: 40px;
}
.login > ul> li{
	display: block;
	font-size: 8px;
	vertical-align: middle;
	color: white;
	padding-bottom: 5px;
}
.login > ul> li >img{
	width: 10%;
}
#secondline{
	background-color: white;
}
.navdropdown{
	position: relative;
}
.navdropdown > a{
	text-decoration: none;
	color: white;
}
.navdetail{
	display:none;
	font-size: 12px;
	line-height: 30px;
	border:solid 1px #0a56bb;
	border-top: 0;
	position: relative;
}
#mainnav{
	display: block;
}
.navdetail > ul > li{
	display: inline-block;
	padding: 0 10px;
}


/*   sales    */
.sales{
	font-size: 8px;
	position: relative;
}

.bannerarea{
	width: 1280px;
	position: relative;
	right: 300px;
}

.banner{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
    filter: alpha(opacity=0);
}
.banner a{
	display: block;
}
.banner a img{
	z-index: 0;
}
.bannerarea div{
	-webkit-animation:slide 40s linear infinite;
	animation:slide 40s linear infinite;
}
@keyframes slide{
	0.0001%{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	12.4999%{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	12.5%{
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
@-webkit-keyframes slide{
	0.0001%{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	12.5%{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	12.5001%{
		opacity: 0;
		filter: alpha(opacity=0);
	}
}
.bannerarea div:nth-child(1){
	-webkit-animation-delay:0s;
	animation-delay: 0s;
}
.bannerarea div:nth-child(2){
	-webkit-animation-delay:5s;
	animation-delay: 5s;
}
.bannerarea div:nth-child(3){
	-webkit-animation-delay:10s;
	animation-delay: 10s;
}
.bannerarea div:nth-child(4){
	-webkit-animation-delay:15s;
	animation-delay: 15s;
}
.bannerarea div:nth-child(5){
	-webkit-animation-delay:20s;
	animation-delay: 20s;
}
.bannerarea div:nth-child(6){
	-webkit-animation-delay:25s;
	animation-delay: 25s;
}
.bannerarea div:nth-child(7){
	-webkit-animation-delay:30s;
	animation-delay: 30s;
}
.bannerarea div:nth-child(8){
	-webkit-animation-delay:35s;
	animation-delay: 35s;
}
.bannerarea:hover +.controllbutton div{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.bannerarea:hover div{
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}
.controllbutton{
	z-index: 100;
    position: absolute;
    right: 20%;
    bottom: -10px;
}
.Cbutton{
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid white;
	border-radius: 8px;
	margin: 5px;
	background-color: #c3c7c5;
}
.controllbutton div{
	-webkit-animation: slidebutton 40s linear infinite;
	animation:slidebutton 40s linear infinite;
}
@keyframes slidebutton{
	0.0001%{
		background-color: white;
	}
	12.4999%{
		background-color: white;
	}
	12.5%{
		background-color:#c3c7c5
	}
}
@-webkit-keyframes slidebutton{
	0.0001%{
		background-color: white;
	}
	12.4999%{
		background-color: white;
	}
	12.5%{
		background-color:#c3c7c5
	}
}
.controllbutton div:nth-child(1){
	-webkit-animation-delay:0s;
	animation-delay: 0s;
}
.controllbutton div:nth-child(2){
	-webkit-animation-delay:5s;
	animation-delay: 5s;
}
.controllbutton div:nth-child(3){
	-webkit-animation-delay:10s;
	animation-delay: 10s;
}
.controllbutton div:nth-child(4){
	-webkit-animation-delay:15s;
	animation-delay: 15s;
}
.controllbutton div:nth-child(5){
	-webkit-animation-delay:20s;
	animation-delay: 20s;
}
.controllbutton div:nth-child(6){
	-webkit-animation-delay:25s;
	animation-delay: 25s;
}
.controllbutton div:nth-child(7){
	-webkit-animation-delay:30s;
	animation-delay: 30s;
}
.controllbutton div:nth-child(8){
	-webkit-animation-delay:35s;
	animation-delay: 35s;
}
.navradio{
	display: none;
}
/*#navradio1:checked ~ .contentarea #content1, #navradio2:checked ~ .contentarea #content2, #navradio3:checked ~ .contentarea #content3, #navradio4:checked ~ .contentarea #content4, #navradio5:checked ~ .contentarea #content5, #navradio6:checked ~ .contentarea #content6, #navradio7:checked ~ .contentarea #content7{
	display: block;
}*/
#navradio1:checked ~ .salesbar #contenttitle1, #navradio2:checked ~ .salesbar #contenttitle2, #navradio3:checked ~ .salesbar #contenttitle3, #navradio4:checked ~ .salesbar #contenttile4, #navradio5:checked ~ .salesbar #contenttitle5, #navradio6:checked ~ .salesbar #contenttitle6, #navradio7:checked ~ .salesbar #contenttitle7{
	background-color: white;
	border-left: 5px #fd982e solid;
	color: #2577e3;
}
#navradio1:checked ~ .salesbar #navtab1, #navradio2:checked ~ .salesbar #navtab2, #navradio3:checked ~ .salesbar #navtab3, #navradio4:checked ~ .salesbar #navtab4, #navradio5:checked ~ .salesbar #navtab5, #navradio6:checked ~ .salesbar #navtab6, #navradio7:checked ~ .salesbar #navtab7{
	color: #2577e3;
}
.salesnav{
	font-size: 0;
	position: relative;
	width: 50%;
	padding-top: 25px;
	margin: 0 0 25px 50px;
	font-family: 'microsoft yahei', Arial, sans-serif;
}

.salesbar, .contentarea{
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
}

.salesbar{
	font-size: 12px;
	color: white;
	font-family: 'microsoft yahei', Arial, sans-serif;
}

.salesbar{	
	background-color: #2577e3;
}

.contenttitle{	
	padding: 0;
	font-size: 16px;
	list-style-type: none;
	border-left: 5px #2577e3 solid;
}
.navtab{
	display: block;
	border-bottom: 1px dashed #aac3f1;
	padding: 10px 0;
	margin: 0 15px 0 10px;
}
.contenttitle:hover {
	background-color: white;
	border-left: 5px #fd982e solid;
	color: #2577e3;
}
.contenttitle:hover label{
	color: #2577e3;
}
.contenttitle > a{
	color: white;
}

#contenttitle7{
	border-bottom: none;
}

.contentarea{
	position: relative;
	width: 65%;
	padding-left: 30px;
	background-color: white;
	padding: 12px 25px;
	height: 262px;
}
.content{
	position: absolute;
	display: none;
}

.contentbar{
	cursor: pointer;
	margin-bottom: 10px;
	border-bottom: solid 3px #d2d2d2;
}
.contentbar >li{
	display: inline-block;
	font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	padding-right: 10px;
	color: rgb(102, 102, 102);
}
.contentdetail{
	font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 30px;
}

.tab{
	display: none;
}



input{
	border-radius: 1px;
}

#keyword{
	width: 260px;
}

.searchhotel{
	height: 30px;
	width: 100px;
	position: relative;
	background-color: orange;
	color: white;
	left: 200px;
	vertical-align: baseline;
}

/*** mainbody ******/
.mainbody{
	padding: 50px 50px 0 50px;
	background-color: #f6f6f6;
}
/** trip **/
.tripcontent{
	display: none;
}

.trip{
	font-size: 0;
}
.tripnav{
	padding-bottom: 8px;
	border-bottom: solid 2px #3983e5;
	font-size: 16px;
}

.tripnavbar{
	display: inline-block;
	width: 60%;
}

.tripnavbar li{
	display: inline-block;
	cursor: pointer;
	width: 12%;
	text-align: center;
	position: relative;
}
.tripnav > span{
	float: right;
}

.tripnavbar .cur span{    
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #3e85e2;
    position: absolute;
    left: 45%;
    bottom: -8px;
}
.trip_content{
	padding-top: 10px;
	background-color: white;
}
.tripcontent{
	box-sizing: border-box;
	padding: 0 10px;
}
.contentdetail, .tripad{
	display: inline-block;
	background-color: white;
	vertical-align: top;
}
.triptab{
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	background-color: white;
}

.contenttab > ul{
	margin-bottom: 10px;
	display: inline-block;
}
.contenttab > ul >li, #boat{
	display: inline-block;
	padding: 4px 4px;
	margin-right: 10px;
	font-size: 12px;
	border:2px solid white;
	border-radius: 4px;
	cursor: pointer;
	color: #2c7ae0;
}
.contenttab > ul >li:hover {
	background-color: #2c7ae0;
	color: white;
}
#active{
	background-color: #2c7ae0;
	color: white;
}
#boat:visited{
	color: #2c7ae0;
}
#boat:hover {
	background-color: #2c7ae0;
	color: white;
}
.contenttab >span{
	font-size: 12px;
	display: inline-block;
	float: right;
}
.triptab{
	width: 80%;
	display: inline-block;
}
.tripad{
	width: 20%;
	display: inline-block;
}
.contentphoto{
	font-size: 0;
	display: none;
}
#contentphoto11, #contentphoto21, #contentphoto31, #contentphoto41, #contentphoto51, #contentphoto61{
	display: block;
}
.selectcontent{
	display: block;
}
.subcontent{
	display: none;
}
.tripphoto{
	box-sizing: border-box;
	padding-left: 10px;
	display: inline-block;
	width: 25%;	
	font-size: 8px;
	line-height: 16px;

}
.tripphoto:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1); /*Safari å’Œ Chrome*/
	-moz-transform: scale(1.1); /*Firefox*/
	-ms-transform: scale(1.1); /*IE9*/
	-o-transform: scale(1.1); /*Opera*/
}
.photo{
	height: 120px;
    position: relative;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 5px;
}
.photo > img{
	width: 100%;
	z-index: 0;
}

.shadow{
	font-size: 10px;
	color: white;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	line-height: 15px;
	bottom: 0;
	padding-left: 5px;
	z-index: 99;	
}
.title{
	margin-left: 5px;
}
.seat{
	margin-left: 5px;
	margin-right: 90px;
}
.price {
	font-size: 22px;
	color: #f60;
	text-align: right;
}

.sidebar{	
	height: 400px;
	width: 20%;
	display: inline-block;
}
.hotbar{
	font-size: 12px;
	font-weight: bold;

}
.bar{
	margin-bottom: 100px;
}
.bar ul li{
	list-style-type: none;
	display: inline-block;
	padding-right: 5px;
	font-size: 10px;
	padding: 5px;

}
#lefttab{
	width: 80%;
	float: right;
	display: inline-block;
}
/*service*/
.service{
	margin-bottom: 20px;
}
.servicetitle{
	position: relative;
	margin-top: 30px;
	color: #06c;
	font-size: 18px;
	height: 36px;
	line-height: 30px;
	font-family: "Microsoft YaHei", "SimHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
	border-bottom: 2px #06c solid;
	cursor: default;
}
.servicetitle span{
	height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #3e85e2;
    position: absolute;
    bottom: 0;
    left: 30px;
}
.servicecontent{
	margin-top: 10px;
	font-size: 0;

}
.servicecontent > div{
	text-align: center;
	display: inline-block;
	width: 32.5%;
	border:1px solid #e0e0e0;
	background-color: white;
	box-sizing: border-box;
	margin-right: 1.25%;
}
#insurance{
	margin-right: 0;
}
#insurance li{
	width: 33.3%;
}
.outline{
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0;
	vertical-align: middle;
	cursor: pointer;
}
.outline:hover{
	background-color: #e2eefe;
}
.outline img, .intro{
	vertical-align: middle;
}
.intro{
	display: inline-block;
	font-size: 12px;
	text-align: left;
	box-sizing: border-box;
	padding-left: 20px;
	line-height: 18px;
}

.intro h4{
	font-size: 16px;
	line-height: 24px;
	font-family: "Microsoft yahei";

}

.supplylist li{
	padding: 5px 0;
	display: inline-block;
	list-style-type: none;
	font-size: 12px;
	width: 25%;
	text-align: center;
	border-right: 1px dashed #a3a3a3;
	box-sizing:border-box;
	cursor: pointer;
}
.supplylist li:hover{
	background-color: #e2eefe;
}
.supplylist li *{
	vertical-align: middle;
}
#lastlist{
	border-right: none;
}
/*corp*/
.corp{
    border: 1px solid #e0e0e0;
    padding: 0;
    background: #fff;
    overflow: hidden;
    line-height: 2;
}
.corp dt {
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
.corp a:hover {
    text-decoration: none;
    color: #3983e5;
}
.corp a {
    color: #b6b6b6;
    font-size: 12px;
}
.corp-bd, .corp-hd{
    overflow: hidden;
}
/*corp-hd*/
.corp-hd {
    position: relative;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}
.part, .partner{
	box-sizing: border-box;
	padding: 10px 15px;
}
.part {
    float: left;
    display: inline-block;
    
}
.part li{
	list-style-type: none;
}
.partInfo {
    width: 20%;
    border-right: 1px solid #e0e0e0;
}
.part-hd {
    position: relative;
    font: 16px/26px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
    margin-bottom: 5px;
}
.part-hd-right {
    position: absolute;
    right: 0;
    font: 12px/26px 'SimSun';
}
.part-bd, .part-bd a {
    font-size: 12px;
    font-family: 'simsun';
    color: #666;
    line-height: 1.8;
}

.partner{
	width: 80%;
	padding: 0 10px;
	box-sizing: border-box;
}
.partner li{
	display: inline-block;
}

.partner a {
    display: inline-block;
    position: relative;
}

.partner .part-bd li {
    float: left;
    width: 16.5%;
    border-left: 1px dashed #e0e0e0;
    text-align: center;
}
#firstcorp{
	border: none;
}
.part-bd img{
	height: 40px;
    text-align: center;
}
/*corp-bd*/
.corp-bd{
	padding: 10px 15px;
}
.corp-hot, .corp-nav {
    margin-right: -5px;
    padding-left: 80px;
    display: block;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
.corp-nav {
    height: auto;
}

.corp-hot dt, .corp-nav dt {
    float: left;
    display: inline;
    width: 80px;
    margin-left: -80px;
}

.corp-hot dd, .corp-nav dd {
    float: left;
    width: 84px;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.corp-line {
    height: 0;
    overflow: hidden;
    border-bottom: 1px dotted #ccc;
    margin: 5px 0;
}
